@import "./variables.css";
@import "./reset.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  background: var(--bg-light);
  color: var(--text-main);
}

#root {
  min-height: 100vh;
}