@import "../base/variables.css";
@import "../sections/hero.css";
@import "../sections/product-section.css";
@import "../sections/flash-sale.css";
@import "../components/product-card.css";
@import "../components/skeleton.css";

.homepage {
  max-width: 1320px;
  margin: auto;
  padding: 12px;
}

@media (max-width: 480px) {
  .homepage {
    padding: 8px;
  }
}