@import "../sections/home/hero.css";
@import "../sections/home/Product.css";
@import "../sections/home/FlashSale.css";
@import "../components/ProductCard.css";
@import "../components/skeleton.css";

.homepage {
  max-width: 1320px;
  margin: 0 auto;
  padding: var(--space-lg);
}

@media (max-width: 480px) {
  .homepage {
    padding: var(--space-sm);
  }
}